body {
    background: linear-gradient(to bottom, #000033 0%, #000080 100%);
}

.stName {
    font-weight: lighter;
    align-self: center;
    color: #F5F5F5;
    padding: 0px 10px;
    text-align: center;
    width: fit-content;
    margin: auto;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}
.stName span{
    transition: all 0.5s;
    display: block;
    font-size: 3em;
    font-weight: bold;
    animation: glow 2s ease-in-out infinite alternate;
}
.text-gradient {
     /* Set the background color */
     background: linear-gradient(to right, #b70000 3%, #000000 100%);
     /* Mask the color to the text, and remove the rest  */
     -webkit-background-clip: text;
     /* Make the text fill color value transparent so the masked background color comes through */
     -webkit-text-fill-color: transparent;
 }

 .stars::before, .stars::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url(stars.png) repeat 0 0;
    z-index: 1;
}